.suggestion-list{
    list-style: none;
    text-align: center;
    
}
.suggestion-container{
   border-left: 1px solid;
   height:95%
}
.profile-pic{
    width: 50px;
    border-radius: 50%;
    height: 40px;
    margin-top: 20px;
    position: relative;  
}
/* side-bar */

.side-bar-main{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap:6rem;
    height: 95%;
    border-right:1px solid ;
    text-align: center;
    margin-left:0px;
    
    
}
.side-bar-content{
    margin-right:6rem;
    font-size: 2rem;
   
}
.side-bar-link{
    text-decoration: none;
    color:black
}
.icon{
    margin-right:10px
}
input::placeholder {
    font: 1.25rem/3 sans-serif;
}
.header{
    display:flex;
    align-items:center;
    color:#9D9D9D;
}

.heading{
    margin-left: 2rem;
}
.search-container{
    display: flex;
    border: 2px solid;
    width: 20%;
    border-radius:.7rem;
    background-color:white;
    padding:0.5rem;
    margin-left:30rem

}
.search-bar{
    border:none;
    outline:none;
    padding-left:1rem;
}